*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-weight: 100;
	font-family: "Times New Roman", sans-serif;
	color: rgb(117, 117, 117);

	display: grid;
	grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

#root {
	grid-column: col-start 3 / col-end 7;
	margin: 3rem 0;
}

.container {
	text-align: center;	
}

.container h1 {
	font-size: 4rem;
	color: rgba(62, 3, 172, 0.836);
	font-weight: 100;
}

.content {
	box-shadow: -1px 9px 45px -6px rgba(168,168,168,0.58);
	margin-top: 4.5rem;
	background-color: #fff;
	
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, min-content);
}

@media screen and (max-width: 1180px) {
	#root {
		grid-column: col-start 3 / col-end 8;
	}
}
@media screen and (max-width: 980px) {
	html {
		font-size: 59%;
	}
	.list-input {
		width: 100%;
	}
}

@media screen and (max-width: 782px) {
	html {
		font-size: 55%;
	}
	.category__form div * {
		margin: 0 .7rem;
	}
}
@media screen and (max-width: 650px) {
	#root {
		grid-column: center-start / center-end;
	}
}
@media screen and (max-width: 490px) {
	html {
		font-size: 50%;
	}
	#root {
		grid-column: full-start / full-end;
		padding: 0 2.5rem;
	}
}
@media screen and (max-width: 400px) {
	html {
		font-size: 45%;
	}
}

@media screen and (max-width: 330px) {
	html {
		font-size: 40%;
	}
}
@media screen and (max-width: 300px) {
	html {
		font-size: 35%;
	}
}